### OS ###
Thumbs.db
Desktop.ini
.DS_Store

### Office lock files ###
~$*
.~lock.*#

### Editor ###
.vscode/
.idea/

### Node / Next.js ###
node_modules/
.next/
out/
dist/
build/
.env
.env.local
.env.*.local
npm-debug.log*
next-env.d.ts

### Prisma ###
prisma/generated/
